<div class="container">
  <!-- Forms -->
  <div class="form">
    <!-- cabeça do cadastro -->
    <form action="/cadastro" method="post" class="backwhite">
      <div class="form-header">
        <div class="title">
          <h1>Cadastre-se</h1>
        </div>
      </div>

      <div class="input-group">
        <div class="input-box">
          <label for="firstname">Primeiro Nome</label>
          <input
            if=" firstname"
            type="text"
            name="firstName"
            placeholder="Digite seu primeiro nome"
            required
          />
        </div>

        <div class="input-box">
          <label for="lastName">Sobrenome</label>
          <input
            if=" lastname"
            type="text"
            name="lastName"
            placeholder="Digite seu sobrenome"
            required
          />
        </div>

        <div class="input-box">
          <label for="email ">Email</label>
          <input
            if=" email "
            type="email "
            name="email"
            placeholder="Digite seu email "
            required
          />
        </div>

        <div class="input-box">
          <label for="number">Celular</label>
          <input
            if=" number "
            type="tel    "
            name="celNumber"
            placeholder="(xx) xxxx-xxxx"
            required
          />
        </div>

        <div class="input-box">
          <label for="password">Senha</label>
          <input
            if=" password"
            type="password"
            name="password"
            placeholder="Digite sua senha "
            required
          />
        </div>

        <div class="input-box">
          <label for="Confirmpassword">Confirme sua senha </label>
          <input
            if=" Confirmpassword"
            type="password"
            name="Confirmpassword"
            placeholder="Digite sua senha "
            required
          />
        </div>
        <div class="input-box">
          <label for="carteirinha">ID Estudantil</label>
          <input
            if=" Carteirinha"
            type="letter"
            name="idEstudantil"
            placeholder="Digite o ID estudantil"
            required
          />
        </div>
        <div class="input-box">
          <label for="Carteira de motorista">CNH</label>
          <input
            if=" Carteira de motorista"
            type="password "
            name="cnh"
            placeholder="Digite sua CNH"
            required
          />
        </div>
        <!-- Seletor de sexo -->
      </div>
      <div class="gender-inputs">
        <div class="gender-title">
          <h6>Tipo De Registro</h6>
        </div>
        <div class="gender-group">
          <div class="gender-inputs">
            <input type="checkbox" name="driver" />
            <label>Motorista</label>
          </div>
        </div>
      </div>

      <div class="continue-button">
        <input type="submit" class="btn btn-primary" value="Cadastrar">
      </div>
    </form>
  </div>
</div>