    </div>
    <div class="container">
      <div class="form">
        <form action="#" class="backwhite">
          <div class="form-header">
            <div class="title">
              <h1>Entrar</h1>
            </div>
          </div>
            <div class="input-box">
              <label for="email ">Email</label>
              <input
                if=" email "
                type="email "
                name="email "
                placeholder="Digite seu email "
                required
              />
            </div>
            <div class="input-box">
              <label for="password">Senha </label>
              <input
                if=" password"
                type="password "
                name="password"
                placeholder="Digite sua senha "
                required
              />
            </div>
          
          <div class="gender-inputs">
            <div class="gender-group">
              <div class="gender-inputs">
                <input type="checkbox" id="Conectado" />
                <label for="connected">
                  <h6>
                    Manter Conectado
                  </h6>
                </label>
              </div>

          <div class="continue-button">
            <button><a href="">Continuar</a></button>
          </div>
        </div>
        </form>
      </div>